.about-us {
  	position: relative;
}
.header {
  	align-self: stretch;
  	background-color: var(--darkblue);
  	height: 140px;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	z-index: 0;
}
.what-is-our {
  	width: 625.2px;
  	position: relative;
  	display: inline-block;
}
.our-goal-is {
  	width: 1255px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
}
.our-goal-is-to-improve-health-wrapper {
  	width: 1305px;
  	background-color: var(--light-gray);
  	height: 387px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px var(--padding-31xl);
  	box-sizing: border-box;
  	font-size: var(--font-size-16xl);
  	color: var(--color-black);
  	font-family: var(--font-montserrat);
}
.ourgoal {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px var(--padding-11xl);
}
.goaltext {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.we-are-a {
  	width: 1270px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
}
.we-are-a-group-of-students-fro-wrapper {
  	align-self: stretch;
  	background-color: var(--light-gray);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
  	padding: 0px var(--padding-31xl);
  	text-align: right;
  	font-size: var(--font-size-16xl);
  	color: var(--color-black);
  	font-family: var(--font-montserrat);
}
.ourgoal1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
}
.abouttext {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 20px var(--padding-11xl) 60px;
  	gap: 30px;
  	background-image: url('AboutText.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	z-index: 1;
  	font-size: var(--font-size-41xl);
  	color: var(--orange);
}
.footerbackground {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--darkblue);
  	width: 1440px;
  	height: 174px;
}
.terms {
  	position: absolute;
  	height: 31.56%;
  	width: 23.19%;
  	top: 68.46%;
  	left: 53.99%;
  	font-weight: 500;
  	display: inline-block;
  	cursor: pointer;
}
.faqs {
  	position: absolute;
  	height: 31.56%;
  	width: 9.78%;
  	top: 68.46%;
  	left: 90.22%;
  	font-weight: 500;
  	display: inline-block;
  	cursor: pointer;
}
.aboutus {
  	position: absolute;
  	height: 31.56%;
  	width: 17.21%;
  	top: 68.46%;
  	left: 0%;
  	font-weight: 500;
  	display: inline-block;
}
.map {
  	position: absolute;
  	height: 31.56%;
  	width: 8.15%;
  	top: 68.46%;
  	left: 31.52%;
  	font-weight: 500;
  	display: inline-block;
  	cursor: pointer;
}
.quicklinks {
  	position: absolute;
  	height: 36.89%;
  	width: 28.26%;
  	top: 0%;
  	left: 0%;
  	font-size: 25px;
  	line-height: 28px;
  	display: inline-block;
}
.quick-links {
  	position: absolute;
  	height: 90.48%;
  	width: 56.73%;
  	top: 0%;
  	right: 0%;
  	bottom: 9.52%;
  	left: 43.27%;
}
.supportpersonalcom {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	left: 0%;
  	line-height: 32px;
  	font-weight: 500;
  	display: inline-block;
}
.logo-and-contact-email {
  	position: absolute;
  	height: 38.07%;
  	width: 26.41%;
  	top: 61.94%;
  	right: 73.59%;
  	bottom: -0.01%;
  	left: 0%;
}
.footer-ui {
  	position: absolute;
  	height: 44.08%;
  	width: 67.57%;
  	top: 29.89%;
  	right: 16.25%;
  	bottom: 26.03%;
  	left: 16.18%;
}
.healthhub {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 800;
  	display: inline-block;
  	width: 252px;
  	height: 65px;
}
.logo {
  	position: absolute;
  	top: 35px;
  	left: 237px;
  	width: 252px;
  	height: 65px;
  	cursor: pointer;
  	font-size: 45px;
  	font-family: var(--font-open-sans);
}
.footer1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1440px;
  	height: 174px;
}
.footer {
  	width: 1440px;
  	position: relative;
  	height: 174px;
  	flex-shrink: 0;
  	z-index: 2;
  	font-size: var(--font-size-xl);
  	font-family: var(--font-montserrat);
}
.menubar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--light-gray);
  	width: 1475px;
  	height: 152px;
}
.about {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	text-decoration: underline;
  	display: inline-block;
  	color: var(--orange);
  	width: 124px;
  	height: 69px;
}
.map1 {
  	position: absolute;
  	top: 0px;
  	left: 175px;
  	font-weight: 600;
  	display: inline-block;
  	width: 97px;
  	height: 69px;
  	cursor: pointer;
}
.terminology {
  	position: absolute;
  	top: 0px;
  	left: 323px;
  	font-weight: 600;
  	display: inline-block;
  	width: 258px;
  	height: 69px;
  	cursor: pointer;
}
.faqs1 {
  	position: absolute;
  	top: 0px;
  	left: 632px;
  	font-weight: 600;
  	display: inline-block;
  	width: 109px;
  	height: 69px;
  	cursor: pointer;
}
.navlinks {
  	position: absolute;
  	top: 39px;
  	left: 622px;
  	width: 741px;
  	height: 69px;
}
.hub {
  	color: var(--darkblue);
}
.healthhub1 {
  	position: absolute;
  	top: 2px;
  	left: 82px;
  	font-size: 75px;
  	font-weight: 800;
  	font-family: var(--font-open-sans);
  	cursor: pointer;
  	color: #3a9ad9;
}
.vector-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 72px;
  	height: 109px;
  	cursor: pointer;
}
.menubar1 {
  	position: absolute;
  	top: 20px;
  	left: 39px;
  	width: 1363px;
  	height: 109px;
}
.topmenu {
  	width: 1440px;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	left: 0px;
  	border-bottom: 4px solid var(--darkblue);
  	box-sizing: border-box;
  	height: 156px;
  	flex-shrink: 0;
  	z-index: 3;
  	font-size: var(--font-size-21xl);
  	color: var(--darkblue);
  	font-family: var(--font-montserrat);
}
.aboutus-desktop {
  	width: 100%;
  	position: relative;
  	background-color: var(--white);
  	height: 1428px;
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: var(--heightheader) 0px 0px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 100px;
  	color: var(--white);
  	font-family: var(--font-open-sans);
}

