
body {
  	margin: 0;
  	line-height: normal;
}


:root {
  	
  	/* Fonts */
  	--font-open-sans: 'Open Sans';
  	--font-montserrat: Montserrat;
  	
  	/* font sizes */
  	--font-size-xl: 20px;
  	--font-size-21xl: 40px;
  	--font-size-46xl: 65px;
  	--font-size-81xl: 100px;
  	
  	/* Colors */
  	--color-darkgray: #a0a0a0;
  	
  	/* Gaps */
  	--gap-0: 0px;
  	
  	/* Paddings */
  	--padding-81xl: 100px;
  	
  	/* Figma Variables */
  	
  	/* Color Variables */
  	--darkblue: #1a4a8b;
  	--light-gray: #f0f1f6;
  	--orange: #c74f0d;
  	--white: #fff;
  	
  	/* Number Variables */
  	--heightheader: 152px;
  	
}